{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Сброс пароля</h1>
    <p>Забыли пароль? Введите адрес электронной почты ниже, и мы отправим вам инструкции по установке нового.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>

    <p>
        У вас еще нет аккаунта?
        <a href="{% url 'account_signup' %}">Зарегистрироваться</a>

    </p>
</div>
{% endblock %}