{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="div">
    <div class="rectangle-77"></div>
    <img class="vector-65" src="vector-650.svg" />
    <img class="vector-64" src="vector-640.svg" />
    <div class="rectangle-81"></div>
    <div class="rectangle-32"></div>
    <div class="activ-menu">
        <img class="vuesax-linear-profile" src="vuesax-linear-profile0.svg" />
        <img
                class="vuesax-linear-sms-notification"
                src="vuesax-linear-sms-notification0.svg"
        />
        <img class="group-11" src="group-110.svg" />
    </div>
    <div class="logo">
        <img class="group-9" src="group-90.svg" />
        <img class="group-10" src="group-100.svg" />
    </div>
    <div class="div2">РЕГИСТРАЦИЯ</div>
    <div class="frame-5977">
        <div class="email">Email</div>
    </div>
    <div class="frame-5978">
        <div class="div3">Имя пользователя</div>
    </div>
    <div class="frame-5979">
        <div class="div3">Номер телефона</div>
    </div>
    <div class="frame-5980">
        <div class="div3">Пароль</div>
    </div>
    <div class="frame-5981">
        <div class="div3">Подтвердить пароль</div>
    </div>
    <div class="frame-5982">
        <div class="div4">Зарегистрироваться</div>
    </div>
    <div class="div5">
    <span>
      <span class="div-5-span">Уже есть аккаунт:</span>
      <span class="div-5-span2">Войти</span>
    </span>
    </div>
</div>

{% endblock %}